<div class="col-md-10 col-md-offset-1" id="main"> <!-- MAIN -->
	<article class="col-md-12" id="article"> <!-- ARTICLE -->
		<div class="row">
			<header class="col-md-12", id="header_article">
			</header>

			<div class="col-md-12", id="top_image_block">
				<img src="https://static01.nyt.com/images/2014/03/18/science/space/18cosmos/18cosmos-superJumbo.jpg" alt="" class="media-viewer-candidate" data-mediaviewer-src="https://static01.nyt.com/images/2014/03/18/science/space/18cosmos/18cosmos-superJumbo.jpg" data-mediaviewer-caption="Alan Guth was one of the first physicists to hypothesize the existence of inflation, which explains how the universe expanded so uniformly and so quickly in the instant after the Big Bang 13.8 billion years ago." data-mediaviewer-credit="Rick Friedman for The New York Times" itemprop="url" itemid="https://static01.nyt.com/images/2014/03/18/science/space/18cosmos/18cosmos-superJumbo.jpg">
				<figcaption class="caption">
                	<span class="caption-text">Alan Guth was one of the first physicists to hypothesize the existence of inflation, which explains how the universe expanded so uniformly and so quickly in the instant after the Big Bang 13.8 billion years ago.</span>
                    <span class="credit">Rick Friedman for The New York Times</span>
            	</figcaption>
			</div>

			<div class="col-md-11 col-md-offset-1", id="top_body">
				<div class="text_block">
					<p class="text" data-para-count="242" data-total-count="242">CAMBRIDGE, Mass. — One night late in 1979, an itinerant young physicist named Alan Guth, with a new son and a year’s appointment at Stanford, stayed up late with his notebook and equations, venturing far beyond the world of known physics.</p>
					<p class="text" data-para-count="442" data-total-count="684">He was trying to understand why there was no trace of some exotic particles that should have been created in the Big Bang. Instead he discovered what might have made the universe bang to begin with. A potential hitch in the presumed course of cosmic evolution could have infused space itself with a special energy that exerted a repulsive force, causing the universe to swell faster than the speed of light for a prodigiously violent instant.</p>
					<p class="text" data-para-count="313" data-total-count="997">If true, the rapid engorgement would solve paradoxes like why the heavens look uniform from pole to pole and not like a jagged, warped mess. The enormous ballooning would iron out all the wrinkles and irregularities. Those particles were not missing, but would be diluted beyond detection, like spit in the ocean.</p>
					<p class="text" data-para-count="105" data-total-count="1102">“SPECTACULAR REALIZATION,” Dr. Guth wrote across the top of the page and drew a double box around it.</p>
					<p class="text" data-para-count="192" data-total-count="1294" id="story-continues-2">On Monday, Dr. Guth’s starship came in. Radio astronomers reported that they had seen the beginning of the Big Bang, and that his hypothesis, known undramatically as inflation, looked right.</p>

					<p class="text" data-para-count="555" data-total-count="1849">Reaching back across 13.8 billion years to <a href="https://www.youtube.com/watch?v=ZJYc9YmKIO8&amp;amp;feature=youtu.be">the first sliver of cosmic time</a> with telescopes at the South Pole, a team of astronomers led by John M. Kovac of the Harvard-Smithsonian Center for Astrophysics detected ripples in the fabric of space-time — so-called <a href="http://www.nytimes.com/2016/02/12/science/ligo-gravitational-waves-black-holes-einstein.html">gravitational waves</a> — the signature of a universe being wrenched violently apart when it was roughly a trillionth of a trillionth of a trillionth of a second old. They are the long-sought smoking-gun evidence of inflation, proof, Dr. Kovac and his colleagues say, that Dr. Guth was correct.</p>
					<p class="text" data-para-count="134" data-total-count="1983">Inflation has been the workhorse of cosmology for 35 years, though many, including Dr. Guth, wondered whether it could ever be proved.</p>
					<p class="text" data-para-count="259" data-total-count="2242">If corroborated, Dr. Kovac’s work will stand as a landmark in science comparable to the recent discovery of dark energy pushing the universe apart, or of the Big Bang itself. It would open vast realms of time and space and energy to science and speculation.</p>
					<p class="text" data-para-count="401" data-total-count="2643">Confirming inflation would mean that the universe we see, extending 14 billion light-years in space with its hundreds of billions of galaxies, is only an infinitesimal patch in a larger cosmos whose extent, architecture and fate are unknowable. Moreover, beyond our own universe there might be an endless number of other universes bubbling into frothy eternity, like a pot of pasta water boiling over.</p>

					<p class="text title" data-para-count="23" data-total-count="2666"><strong>‘As Big as It Gets’</strong></p>

					<p class="text" data-para-count="361" data-total-count="3027">In our own universe, it would serve as a window into the forces operating at energies forever beyond the reach of particle accelerators on Earth and yield new insights into gravity itself. Dr. Kovac’s ripples would be the first direct observation of gravitational waves, which, according to Einstein’s theory of general relativity, should ruffle space-time.</p>
					<p class="text" data-para-count="146" data-total-count="3173">Marc Kamionkowski of Johns Hopkins University, an early-universe expert who was not part of the team, said, “This is huge, as big as it gets.”</p>
					<p class="text" data-para-count="120" data-total-count="3293">He continued, “This is a signal from the very earliest universe, sending a telegram encoded in gravitational waves.”</p>
					<p class="text" data-para-count="220" data-total-count="3513" id="story-continues-5">The ripples manifested themselves as faint spiral patterns in a bath of microwave radiation that permeates space and preserves a picture of the universe when it was 380,000 years old and as hot as the surface of the sun.</p>
					<p class="text" data-para-count="291" data-total-count="3804">Dr. Kovac and his collaborators, working in an experiment known as Bicep, for Background Imaging of Cosmic Extragalactic Polarization, reported their results in a scientific briefing at the Center for Astrophysics here on Monday and in a set of papers submitted to The Astrophysical Journal.</p>
				</div>
			</div>

			<div id="middle_image">
			</div>

			<div id="down_body">
			</div>
		</div>
		
	</article> <!-- END ARTICLE -->

	<aside id="aside"> <!-- ASIDE -->

	</aside> <!-- END ASIDE -->

	<section id="section"> <!-- SECTION -->

	</section> <!-- END SECTION -->
</div> <!-- END MAIN -->