<div class="col-md-10 col-md-offset-1" id="main"> <!-- MAIN -->
	<article class="col-md-12" id="article"> <!-- ARTICLE -->
		<div class="row">
			<header class="col-md-12", id="header_article">
			</header>

			<div class="col-md-12", id="top_image_block">
				<img src="https://static01.nyt.com/images/2014/03/18/science/space/18cosmos/18cosmos-superJumbo.jpg" alt="" class="media-viewer-candidate" data-mediaviewer-src="https://static01.nyt.com/images/2014/03/18/science/space/18cosmos/18cosmos-superJumbo.jpg" data-mediaviewer-caption="Alan Guth was one of the first physicists to hypothesize the existence of inflation, which explains how the universe expanded so uniformly and so quickly in the instant after the Big Bang 13.8 billion years ago." data-mediaviewer-credit="Rick Friedman for The New York Times" itemprop="url" itemid="https://static01.nyt.com/images/2014/03/18/science/space/18cosmos/18cosmos-superJumbo.jpg">
				<figcaption class="caption" itemprop="caption description">
                	<span class="caption-text">Alan Guth was one of the first physicists to hypothesize the existence of inflation, which explains how the universe expanded so uniformly and so quickly in the instant after the Big Bang 13.8 billion years ago.</span>
                    <span class="credit" itemprop="copyrightHolder">Rick Friedman for The New York Times</span>
            	</figcaption>
			</div>

			<div id="top_body">
			</div>

			<div id="middle_image">
			</div>

			<div id="down_body">
			</div>
		</div>
		
	</article> <!-- END ARTICLE -->

	<aside id="aside"> <!-- ASIDE -->

	</aside> <!-- END ASIDE -->

	<section id="section"> <!-- SECTION -->

	</section> <!-- END SECTION -->
</div> <!-- END MAIN -->