.article-header{
 /* h2 {
    font-size: 34 px;
    font-style: italic;
    font-weight: bold;
  }*/
}

.category {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.65px;
  line-height: 16px;
  text-transform: uppercase;
  /*background-color: pink;*/
  margin: 0;
  padding: 5px 0;

}

.title {
  /*background-color: green;*/
  font-size: 34 px;
  font-style: italic;
  font-weight: bold;
  padding: 10px 0;
}

.story-header-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-top: 1px solid #e2e2e2;
  /*background-color: white;*/
  
}

.author-details {
  display: inline-block;
  /*background-color: blue*/
}

.author {
  font-weight: bold;
  font-size: 11px;
  line-height: 12px;
  padding: 0 5px 0 0;
}

.date{
  font-size: 11px;
  line-height: 12px;
  padding: 0 5px;
}

.footer-tools {
  display: inline-block;
}

.share-tools {
}

.share-tools-menu {

  li {
    display: inline-block;
    padding: 0 5px;
  }
  .facebook {
    position: relative;
    top: 1px;
  }
  .twitter {
  }
  .email {
  }
  .forward {
  padding-right: 10px;
  }
  .save {
    padding-left: 10px;
    border-left: 1px solid #e2e2e2;
  }
  .diag {
    position: relative;
    top: 2px;
  }
}
