// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	font-family: "nyt-cheltenham", georgia, "times new roman", times, serif;
	color: #333;
  display: flex;
  justify-content: center;
}

#main {
	margin: 55px 0 0 0;
	height: auto;
  border-top: 1px solid #000;
}

#article {
	height:auto;
	.article-header{
	}

	.category {
	  font-size: 12px;
	  font-weight: bold;
	  letter-spacing: 0.65px;
	  line-height: 16px;
	  text-transform: uppercase;
	  margin: 0;
	  padding: 5px 0;
    position: relative;
    left: -15px;
	}

	.title {
	  font-size: 34 px;
	  font-style: italic;
	  font-weight: bold;
	  padding: 10px 0;
    position: relative;
    left: -15px;
	}

	.story-header-footer {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  height: 60px;
	  border-top: 1px solid #e2e2e2;
	}

	.author-details {
	  display: inline-block;
    position: relative;
    left: -15px;
	}

	.author {
	  font-weight: bold;
	  font-size: 11px;
	  line-height: 12px;
	  padding: 0 5px 0 0;
	}

	.date{
	  font-size: 11px;
	  line-height: 12px;
	  padding: 0 5px;
	}

	.footer-tools {
	  display: inline-block;
    position: relative;
    right: -30px;
	}

	.share-tools {
	}

	.share-tools-menu {
    display: flex;
    align-items: center;

	  li {
	    display: inline-block;
      position: relative;
      top: 6px;
	    /*padding: 0 5px;*/
      margin: 0 5px;
      width: 27px;
      height: 27px;
	  }
	  .facebook {
      background: image_url('facebook-black.png');
      background-repeat: no-repeat;
      background-position: center;
	  }
    .facebook:hover {
      background: image_url('facebook-blue.png');
      background-repeat: no-repeat;
      background-position: center;
    }
	  .twitter {
      background: image_url('twitter-black.png');
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      top: 6px;
	  }
    .twitter:hover {
      background: image_url('twitter-blue.png');
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      top: 7px;
    }
	  .email {
      background: image_url('mail-black.png');
      background-repeat: no-repeat;
      background-position: center;
	  }
    .email:hover {
      background: image_url('mail-grey.png');
      background-repeat: no-repeat;
      background-position: center;
    }
	  .forward {
      background: image_url('forward-black.png');
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      top: 6px;
	  }
    .forward:hover {
      background: image_url('forward-grey.png');
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      top: 7px;
    }
	  .save {
	    /*margin-left: 15px;*/
      padding-left: 10px;
      width: 40px;
	    border-left: 1px solid #e2e2e2;
      background: image_url('flag.png');
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      top: 7px;
	  }
    .save:hover {
      background: image_url('flag-black.png');
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      top: 8px;
    }
	  .diag {
	    position: relative;
	    left: -10px;
      top: 10px;
      background: image_url('dialogue.png');
      background-repeat: no-repeat;
      background-position: center;
      width: 45px;
      height: 45px;
	  }
    .diag:hover {
      background: image_url('dialogue-hover.png');
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      left: -10px;
      top: 7px;
    }
	}
}


#header_article {
	height: auto;
}

#top_image_block {
	width: 100%;
	margin-right: 0;
	margin-left: 0;
	padding-left: 0;
    padding-right: 0;
    margin-bottom: 45px;
	img {
		height: auto;
		max-width: 100%;
		cursor: pointer;
		margin-bottom: 7px;
	}
	figcaption {
		margin-right: 0;
		max-width: 610px;
		font-size: 14px;
		//font-size: 0.875rem;
		line-height: 18px;
		//line-height: 1.125rem;
		.caption-text {
			font-weight: 300;
			color: #666;
			font-style: normal;
			font-family: "nyt-cheltenham-sh", georgia, "times new roman", times, serif !important;
		}
		.credit {
			font-size: 11px;
			line-height: 16px;
			font-weight: 400;
			color: #999;
			font-style: normal;
			font-family: "nyt-cheltenham-sh", georgia, "times new roman", times, serif !important;
		}
	}
}

.top_body {
	height:auto;
	padding-left:0;
	.text_block {
	max-width: 600px;
		.text {
			font-size: 17px;
			//font-size: 1.0625rem;
			line-height: 26px;
			//line-height: 1.625rem;
			font-weight: 400;
			font-style: normal;
			margin-right: 30px;
			margin-bottom: 1em;
			a {
				text-decoration: underline;
				color: #326891;
				cursor:auto;
			}
			.title {
				font-size: 17px;
				//font-size: 1.0625rem;
				line-height: 26px;
				//line-height: 1.625rem;
			}
		}
		footer {
			margin-top: 24px;
			width: 570px;
			p {
				font-size: 11px;
				//font-size: 0.6875rem;
				line-height: 15px;
				//line-height: 0.9375rem;
				font-weight: 300;
				font-style: normal;
				font-family: "nyt-franklin", arial, helvetica, sans-serif;
				color: #999
			}
			span {
				font-size: 11px;
				//font-size: 0.6875rem;
				line-height: 15px;
				//line-height: 0.9375rem;
				font-weight: 300;
				font-style: normal;
				font-family: "nyt-franklin", arial, helvetica, sans-serif;
				color: #999
			}
			a {
				color: #999;
			}
		}
	}
}

#middle_image{
	width:945px;
	padding:0;
	display:flex;
	flex-direction:row;
	height:auto;
	flex-wrap: wrap;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	.interactive-headline {
		font-size: 20px;
		//font-size: 1.25rem;
		line-height: 24px;
		//line-height: 1.5rem;
		font-weight: 700;
		font-style: normal;
		font-family: "nyt-cheltenham", georgia, "times new roman", times, serif;
		margin-bottom: 3px;
		color: #333
	}

	.interactive-leadin {
		font-size: 14px;
		//font-size: 0.875rem;
		line-height: 18px;
		//line-height: 1.125rem;
		font-weight: 400;
		font-style: normal;
		font-family: "nyt-cheltenham-sh", georgia, "times new roman", times, serif;
		margin-bottom: 10px;
		color: #666
	}
	.block {
		max-height:50%;
		max-width:25%;
		padding-right:5px;
		.middle_image_image {
			#picture {
			height: 150px;
			width: 228px;
			background-color:white;
			}	
		}
		.middle_image_text {
			height: auto;
			width: 228px;
			background-color:white;
		}
		p {
			font-family: nyt-franklin, arial, helvetica, sans-serif;
			font-size: 14px;
			line-height: 17px;
			font-weight: 300;
			color: #000000;
			span {
				font-size: 11px;
				font-weight: bold;
				letter-spacing: .05em;
			}
		}
	}
	.interactive-credit {
		font-size: 12px;
		//font-size: 0.75rem;
		line-height: 14px;
		//line-height: 0.875rem;
		font-weight: 300;
		font-style: normal;
		font-family: "nyt-franklin", arial, helvetica, sans-serif;
		margin-top: 8px;
		color: #999;
		margin-bottom: 20px;
	}
}

.media {
	width: 645px;
	margin-bottom: 30px;
	iframe {
		margin-top: 45px;
		height:315px;
		width: 100%;
		margin-bottom: 8px;
		border: none;
	}
	figcaption {
		margin-right: 0;
		max-width: 610px;
		font-size: 14px;
		//font-size: 0.875rem;
		line-height: 18px;
		//line-height: 1.125rem;
		.caption-text {
			font-weight: 300;
			color: #666;
			font-style: normal;
			font-family: "nyt-cheltenham-sh", georgia, "times new roman", times, serif !important;
		}
		.credit {
			font-size: 11px;
			line-height: 16px;
			font-weight: 400;
			color: #999;
			font-style: normal;
			font-family: "nyt-cheltenham-sh", georgia, "times new roman", times, serif !important;
		}
	}
}

.newsletter-signup {
	float: left;
	margin: 7px 30px 15px 30px;
	border-top: 1px solid #e2e2e2;
	padding-top: 15px;
	border-bottom: 1px solid #e2e2e2;
	padding-bottom: 15px;
	width: 300px;
	margin: 7px 30px 15px 30px
}

#bottom_image {
	width: 645px;
	height:auto;
	.image{
		cursor: pointer;
		img {
			width: 100%;
			height: auto;
			max-width: 100%;
		}
	}
	figcaption {
		margin-right: 0;
		max-width: 610px;
		font-size: 14px;
		//font-size: 0.875rem;
		line-height: 18px;
		//line-height: 1.125rem;
		.caption-text {
			font-weight: 300;
			color: #666;
			font-style: normal;
			font-family: "nyt-cheltenham-sh", georgia, "times new roman", times, serif !important;
		}
		.credit {
			font-size: 11px;
			line-height: 16px;
			font-weight: 400;
			color: #999;
			font-style: normal;
			font-family: "nyt-cheltenham-sh", georgia, "times new roman", times, serif !important;
		}
	}
}