// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	font-family: "nyt-cheltenham", georgia, "times new roman", times, serif;
	color: #333;
}

#main {
	background-color: lightblue;
	height: 2000px;
}

#article {
	background-color:lightpink;
	height:2000px;
}

#header_article {
	background-color: yellow;
	height: 100px;
}

#top_image_block {
	width: 100%;
	margin-right: 0;
	margin-left: 0;
	padding-left: 0;
    padding-right: 0;
    margin-bottom: 45px;
	img {
		height: auto;
		max-width: 100%;
		cursor: pointer;
		margin-bottom: 7px;
	}
	figcaption {
		margin-right: 0;
		max-width: 610px;
		font-size: 14px;
		//font-size: 0.875rem;
		line-height: 18px;
		//line-height: 1.125rem;
		.caption-text {
			font-weight: 300;
			color: #666 !important;
			font-style: normal;
			font-family: "nyt-cheltenham-sh", georgia, "times new roman", times, serif !important;
		}
		.credit {
			font-size: 11px;
			line-height: 16px;
			font-weight: 400;
			color: #999 !important;
			font-style: normal;
			font-family: "nyt-cheltenham-sh", georgia, "times new roman", times, serif !important;
		}
	}
}

#top_body {
	height:auto;
	background-color:lightgrey;
	padding-left:0;
	.text_block {
	max-width: 600px;
		.text {
			font-size: 17px;
			//font-size: 1.0625rem;
			line-height: 26px;
			//line-height: 1.625rem;
			font-weight: 400;
			font-style: normal;
			margin-right: 30px;
			margin-bottom: 1em;
			a {
				text-decoration: underline;
				color: #326891;
				cursor:auto;
			}
			.title {
				font-size: 17px;
				//font-size: 1.0625rem;
				line-height: 26px;
				//line-height: 1.625rem;
			}
		}
	}
}



